<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create new User</title>
</head>
<body>

<form th:method="POST" th:action="@{/addUser}" th:object="${newUser}">

  <label for="name">Enter Name:</label>
  <input type="text" th:field="*{name}" id = "name"/>
  <br>

  <label for="surname">Enter Surname:</label>
  <input type="text" th:field="*{surname}" id = "surname"/>
  <br>

  <label for="age">Enter Age:</label>
  <input type="text" th:field="*{age}" id = "age"/>
  <br>

  <input type="submit" value="Ok">

</form>
</body>
</html>