<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form action="#" th:action="@{/updateUser}" th:object="${userToUpdate}" th:method="post">

    <input type="hidden" th:field="*{id}" id="id">

    <label for="name">Enter Name:</label>
    <input type="text" th:field="*{name}" id = "name"/>
    <br>

    <label for="surname">Enter Surname:</label>
    <input type="text" th:field="*{surname}" id = "surname"/>
    <br>

    <label for="age">Enter Age:</label>
    <input type="text" th:field="*{age}" id = "age"/>
    <br>

    <input type="submit" value="Ok">

</form>
</body>
</html>
